@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 15px;
}

#container {
    margin: 90px auto;
    width: 870px;
    height: 470px;
    border-radius: 30px;
    display: flex;
}

.card1 {
    width: 500px;
    padding: 30px;
    border-radius: 10px 0px 0px 10px;
    background: hsl(31, 77%, 52%);
}

 p {
    font-family: 'Lexend Deca', sans-serif;
    padding-top: 30px;
    color: hsla(0, 0%, 100%, 0.75);
}

 h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.2em;
    padding-top: 20px;
    color: hsl(0, 0%, 95%);
}

.card2 {
    width: 500px;
    padding: 30px;
    background-color: hsl(184, 100%, 22%)
}

.card3 {
    width: 500px;
    padding: 30px;
    border-radius: 0px 10px 10px 0px;
    background-color: hsl(179, 100%, 13%);
}

.button1 {
    font-family: 'Lexend Deca', sans-serif;
    background: white;
    color: hsl(31, 77%, 52%);
    border-radius: 20px;
    margin-top: 95px;
    width: 100px;
    padding: 13px;
    text-align: center;
}

.button2 {
    font-family: 'Lexend Deca', sans-serif;
    background: white;
    color: hsl(184, 100%, 22%);
    border-radius: 20px;
    margin-top: 95px;
    width: 100px;
    padding: 13px;
    text-align: center;
}

.button3 {
    font-family: 'Lexend Deca', sans-serif;
    background: white;
    color: hsl(179, 100%, 13%);
    border-radius: 20px;
    margin-top: 95px;
    width: 100px;
    padding: 13px;
    text-align: center;
}

.button1:hover, .button2:hover, .button3:hover {
    border: 1px solid white;
    color: hsl(0, 0%, 95%);
    background: none;
    cursor: pointer;
}